body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #302e2e;
}
#registration, #login{
  /* margin:0 auto; */
  background: #302e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.p{
  background: #000;
}

#registration form, #login form{
  padding: 1em;
  width: 30%;
  border-radius: 5px;
  background: linear-gradient(120deg,rgba(0, 110, 255, 0.701), rgb(13, 175, 13));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h1{
  color: #fff;
}
.names {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
form .names input{
  /* margin-top: 1em; */
  border: none;
  outline: none;
  border-radius: 5px;
  width: 50%;
  /* max-width: 30%; */
  padding: 1em;
}

.errmsg{
  display: block;
  background: #000;
  padding: 0.5em 0em;
  width: 55%;
  border-radius: 5px;
  color: red;
  text-align: center;
}
.offscreen{
  display: none;
}
.instructions,.invalid{
  color: red;
}
.instructions{
  color: rgb(228, 228, 57);
  padding: 1em;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.valid{
  display: block;
  color: green;
}
.invalid, .valid{
  position: absolute;
  top: 52%;
  right: 23%;
  display: block;
  
}

.hide{
  display: none;
}
.signUpBtn,.signInBtn{
  margin-top: 1em;
  padding: 0.5em 2em;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(3, 79, 127);
}
.signInBtn{
  background: #000;
  color: #fff;
}
.line{
  /* background: #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line p{
  font-size: 14px;
  margin-bottom: -2PX;
  /* font-weight: ; */
}
.uploadprop{
  color: #fff;
  padding: 2em;
  margin: 0 auto;
  /* width: 50%; */
  text-align: center;
  /* background-color: blanchedalmond; */
}
.uploadprop h1{
  color: #fff;
}
.uploadprop form{
  padding: 2em;
  border-radius: 5px;
  background: linear-gradient(120deg,rgba(0, 110, 255, 0.701), rgb(13, 175, 13));
}
.upload-property-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
  /* gap: 1em; */
}
.show{
  /* height: 200px; */
  /* background: #7afbfb; */
  display: block;
  text-align: left;
}

.hide{
  display: none;
}
select{
  padding: 0.5em 1em;
  margin: 5px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  /* min-width: 100%; */
  /* max-width: 6em; */
}
input{
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 5px 0;
  background: #f2f0f0;
}
.landFlex{
  display: flex;
  flex-direction: column;
}
.column1{
  /* background: #000; */
  /* background: #000; */
  /* color: #000; */
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 5px; */
  
}
.column2{
  /* background: #000; */
  /* text-align: left; */
}
.propertyPurpose{
  /* width: 50%; */
  /* max-height: 2.3em; */
}
.location-section{
  /* background: #000; */
  display: grid;
  grid-template-columns: 1fr;
}
.budget-container{
  text-align: left;
  font-weight: bold;
}
.budget-container input{
  width: 20%;
  margin-left: 1em;
  
}
@media(min-width:800px){
  .uploadprop{
    width: 50%;
  }
}